@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --slide-speed: 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: 'Noto Sans Thai', sans-serif;
}

/* Initial hidden state */
.hide {
  opacity: 0;
  transform: translateY(50px);
  /* Adjust this for slide distance */
  transition: opacity var(--slide-speed) ease, transform var(--slide-speed) ease;
}

/* Show class with gradual opacity increase and slide-up effect */
.show {
  opacity: 1;
  transform: translateY(0);
}